.word-section {
  background: rgba(43, 39, 39, 0.7);
  border-radius: 20px;
  margin: 1rem;
  width: 33%;

  @media (max-width: 800px){
    width: 90%;
  }

  h2 {
    font-family: monospace;
    letter-spacing: 0.3rem;
    color: #ff2f2f;
    background: white;
    border-radius: 15px;
    margin: auto;
    width: 80%;
    margin-top: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.3rem 0.2rem;
  }
  h2::first-letter{
    color: blue;
    font-size: 2em;
    text-transform: uppercase;
  }
  .word-definition {
    padding: 0;

    li {
      list-style-type: none;
      padding: 0 10px;
      margin: 0;
      font-size: 13px;
      font-family: monospace;
      color: white;
      background: black;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 10px;
      padding: 8px;
      width: 80%;
    }
    li:before {
      content: "\00BB";
      margin-right: 6px;
    }
  }
}
